<mat-drawer-container hasBackdrop="true">
    <mat-drawer #sidenavDrawer mode="over" class="w-[70%] rounded-e-lg sidebar">
        <div class="w-[90%] mx-auto mt-5">
            <div class="flex align-middle justify-between items-center">
                <div class="flex align-middle">
                    <img [src]="userImg" alt="Profile Image" class="w-[55px] h-[55px] profile-img">
                    <div class="ml-2 flex flex-col justify-center">
                        <div class="max-w-[150px] overflow-hidden text-ellipsis text-nowrap font-medium text-sm" [matTooltip]="name" matTooltipPosition="after">{{ name }}</div>
                        <div class="max-w-[150px] overflow-hidden text-ellipsis text-nowrap text-sm" [matTooltip]="userName" matTooltipPosition="after">{{ userName }}</div>
                    </div>
                </div>
                <mat-icon fontIcon="close" class="text-lg mb-2" (click)="sidenavDrawer.toggle()"></mat-icon>
            </div>

            <div class="mx-auto py-4">
                <ng-container *ngTemplateOutlet="mobileSidenav"></ng-container>
            </div>
        </div>
    </mat-drawer>

    <div class="flex flex-col h-screen text-type">
        <app-loader *ngIf="isLoading"></app-loader>
        <img [src]="backgroundImg" alt="" class="fixed top-0 left-0 right-0 bottom-0 h-full w-full">

        <div class="grid justify-items-center z-[9999]">
            <div class="w-[90%] md:w-[95%] flex flex-col">
                <div class="navbar shadow-lg py-4 flex justify-between items-center w-full relative h-16">
                    <div>
                        <div class="header text-lg font-bold">Finance Tracker</div>
                    </div>
                    <div class="flex align-middle">
                        <img [src]="userImg" alt="Profile Image" class="w-[35px] h-[35px] profile-img cursor-pointer block md:hidden" (click)="sidenavDrawer.toggle()">
                        <div class="flex align-middle items-center gap-5">
                            <div class="mt-2 cursor-pointer text-lg inactive-icon hidden md:block">
                                <mat-icon fontIcon="help" [matTooltip]="queryHeading" class="text-[25px]"></mat-icon>
                            </div>
                            <div class="relative group">
                                <img [src]="userImg" alt="Profile Image" class="w-[35px] h-[35px] profile-img cursor-pointer hidden md:block">
                                <div class="absolute right-0 w-72 user-popup rounded-sm shadow-lg z-[9999] hidden group-hover:block peer-hover:block">
                                    <div class="m-3">
                                        <div class="flex align-middle">
                                            <img [src]="userImg" alt="Profile Image" class="w-[50px] h-[50px] profile-img z-[10000]">
                                            <div class="ml-3 flex flex-col justify-center">
                                                <div class="max-w-[150px] overflow-hidden text-ellipsis text-nowrap font-medium text-sm" [matTooltip]="name" matTooltipPosition="after">{{ name }}</div>
                                                <div class="max-w-[150px] overflow-hidden text-ellipsis text-nowrap text-sm" [matTooltip]="userName" matTooltipPosition="after">{{ userName }}</div>
                                            </div>
                                        </div>
                                        <div class="mx-auto pt-4">
                                            <div class="mb-2 ml-2 text-sm max-w-full overflow-hidden text-ellipsis text-nowrap font-normal" [matTooltip]="userEmailId">
                                                {{ emailHeading }} : {{ userEmailId }}
                                            </div>
                                            <div class="mb-2 ml-2 text-sm max-w-full overflow-hidden text-ellipsis text-nowrap font-normal" [matTooltip]="lastLogin">
                                                {{ lastLoginHeading }} : {{ lastLogin }}
                                            </div>
                                        </div>
                                        <div class="sidebar-dash"></div>
                                        <div *ngFor="let section of logOutSection" class="my-2">
                                            <a *ngIf="section.type === 'link'" (click)="navigateTo(section)" [ngClass]="{'sidebar-active-btn': isActive(section)}" class="sidebar-btn flex items-center relative cursor-pointer w-full py-1 px-2">
                                                <mat-icon [fontIcon]="section.icon"></mat-icon>
                                                <div class="ml-2 text-sm max-w-full overflow-hidden text-ellipsis text-nowrap font-normal" [matTooltip]="section.title">
                                                    {{ section.title }}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-1 overflow-hidden relative w-[95%] mx-auto z-0">
            <div class="sidebar shadow-lg ease-out py-4 w-0 hidden flex-col justify-between overflow-auto md:flex md:w-72">
                <ng-container *ngTemplateOutlet="sidenav"></ng-container>
            </div>

            <div class="flex-1 flex flex-col z-0">
                <div class="flex-1 p-2 md:p-4 overflow-auto">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</mat-drawer-container>

<ng-template #sidenav>
    <div class="py-4">
        <div class="px-4">
            <div *ngFor="let section of generalOptionSections" class="mb-2">
                <a *ngIf="section.type === 'link'" (click)="navigateTo(section)" [ngClass]="{'sidebar-active-btn': isActive(section)}" class="sidebar-btn flex items-center relative cursor-pointer w-full py-1 px-2">
                    <mat-icon [fontIcon]="section.icon"></mat-icon>
                    <div class="ml-4 text-sm max-w-full overflow-hidden text-ellipsis text-nowrap font-normal" [matTooltip]="section.title">
                        {{ section.title }}
                    </div>
                </a>
            </div>
            <div class="my-4 sidebar-dash"></div>
            <div *ngFor="let section of sections" class="mb-2">
                <a *ngIf="section.type === 'link'" (click)="navigateTo(section)" [ngClass]="{'sidebar-active-btn': isActive(section)}" class="sidebar-btn flex items-center relative cursor-pointer w-full py-1 px-3">
                    <mat-icon [fontIcon]="section.icon"></mat-icon>
                    <div class="ml-4 text-sm max-w-full overflow-hidden text-ellipsis text-nowrap font-normal" [matTooltip]="section.title">
                        {{ section.title }}
                    </div>
                </a>

                <div *ngIf="section.type === 'parent'" class="sidebar-header text-left w-full mt-4">
                    <div class="my-4 sidebar-dash w-[95%] mx-auto"></div>
                    <div class="text-[14px] px-2 pb-2 font-medium">
                        {{ section.title }}
                    </div>
                    <ul>
                        <li *ngFor="let subSection of section.children">
                            <div class="py-1">
                                <a (click)="navigateTo(subSection)" [ngClass]="{'sidebar-active-btn': isActive(subSection)}" class="sidebar-btn flex items-center relative cursor-pointer w-full py-1 px-2">
                                    <mat-icon [fontIcon]="subSection.icon"></mat-icon>
                                    <div class="mt-0.5 ml-4 text-[14px] max-w-full overflow-hidden text-ellipsis text-nowrap font-normal" [matTooltip]="subSection.title">
                                        {{ subSection.title }}
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Mobile Sidenav -->
<ng-template #mobileSidenav>
    <div class="mb-2">
        <a class="sidebar-btn flex items-center relative cursor-pointer w-full py-1 px-2">
            <mat-icon fontIcon="help"></mat-icon>
            <div class="ml-4 text-sm max-w-full overflow-hidden text-ellipsis text-nowrap font-normal" [matTooltip]="queryHeading">
                {{ queryHeading }}
            </div>
        </a>
    </div>
    <div *ngFor="let section of logOutSection" class="mb-2">
        <a *ngIf="section.type === 'link'" (click)="navigateTo(section)" [ngClass]="{'sidebar-active-btn': isActive(section)}" class="sidebar-btn flex items-center relative cursor-pointer w-full py-1 px-2">
            <mat-icon [fontIcon]="section.icon"></mat-icon>
            <div class="ml-4 text-sm max-w-full overflow-hidden text-ellipsis text-nowrap font-normal" [matTooltip]="section.title">
                {{ section.title }}
            </div>
        </a>
    </div>
    <div class="my-4 sidebar-dash"></div>
    <div *ngFor="let section of generalOptionSections" class="mb-2">
        <a *ngIf="section.type === 'link'" (click)="navigateTo(section)" [ngClass]="{'sidebar-active-btn': isActive(section)}" class="sidebar-btn flex items-center relative cursor-pointer w-full py-1 px-2">
            <mat-icon [fontIcon]="section.icon"></mat-icon>
            <div class="ml-4 text-sm max-w-full overflow-hidden text-ellipsis text-nowrap font-normal" [matTooltip]="section.title">
                {{ section.title }}
            </div>
        </a>
    </div>
    <div class="my-4 sidebar-dash"></div>
    <div *ngFor="let section of sections" class="mb-2">
        <a *ngIf="section.type === 'link'" (click)="navigateTo(section)" [ngClass]="{'sidebar-active-btn': isActive(section)}" class="sidebar-btn flex items-center relative cursor-pointer w-full py-1 px-2">
            <mat-icon [fontIcon]="section.icon"></mat-icon>
            <div class="ml-4 text-sm max-w-full overflow-hidden text-ellipsis text-nowrap font-normal" [matTooltip]="section.title">
                {{ section.title }}
            </div>
        </a>

        <div *ngIf="section.type === 'parent'" class="sidebar-header text-left w-full mt-4">
            <div class="my-4 sidebar-dash"></div>
            <div class="text-[14px] px-2 pb-2 font-medium">
                {{ section.title }}
            </div>
            <ul>
                <li *ngFor="let subSection of section.children">
                    <div class="mb-2">
                        <a (click)="navigateTo(subSection)" [ngClass]="{'sidebar-active-btn': isActive(subSection)}" class="sidebar-btn flex items-center relative cursor-pointer w-full py-1 px-2">
                            <mat-icon [fontIcon]="subSection.icon"></mat-icon>
                            <div class="ml-4 text-sm max-w-full overflow-hidden text-ellipsis text-nowrap font-normal" [matTooltip]="subSection.title">
                                {{ subSection.title }}
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="my-4 sidebar-dash"></div>
    <a class="sidebar-btn flex items-center relative cursor-pointer w-full py-1 px-2">
        <mat-icon fontIcon="help"></mat-icon>
        <div class="ml-4 text-sm max-w-full overflow-hidden text-ellipsis text-nowrap font-normal">
            {{ queryHeading }}
        </div>
    </a>
</ng-template>