<div *ngIf="viewPermission; else notAccessible">
    <div class="w-full h-full space-y-4 card-header">
        <div>
            <div class="">
                <span class="text-2 text-sm font-light">{{ pageHeader1 }} > </span>
                <span class="text-3 text-lg font-bold">{{ pageHeader2 }}</span>
            </div>
        </div>
        <div class="card p-4 md:p-5 w-full">
            <div class="flex justify-between items-center w-[99%] mx-auto">
                <div class="text-sm font-medium">{{ generalHeader }}</div>
                <div *ngIf="editPermission">
                    <div class="flex align-middle gap-2 md:gap-4">
                        <div *ngFor="let action of setupActions">
                            <div *ngIf="action.type === 'submit'; else otherBtn">
                                <core-button [btnHeader]="action.label" [btnType]="'primary'" (submit)="onGeneralSetupSubmit()"></core-button>
                            </div>
                            <ng-template #otherBtn>
                                <core-button [btnHeader]="action.label" [btnType]="'secondary'" (submit)="onGeneralCancelSubmit()"></core-button>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-b-2 my-3 line"></div>

            <form [formGroup]="generalForm">
                <div formArrayName="settings">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                        <div *ngFor="let setting of options.controls; let setupIndex = index" [formGroupName]="setupIndex">
                            <core-dropdown formControlName="value"
                                [header]="setting.value.categoryDescription"
                                [dropdownOptions]="setting.value"
                                [clearDropdownEnabled]="false">
                            </core-dropdown>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="card p-5">
            <app-user-setup-form
                [header]="dashboardHeader"
                [actions]="setupActions"
                [editPermission]="editPermission"
                [form]="dashboardForm"
                [formData]="dashboardSetup"
                [formInitialData]="initialDashboardValues"
                (formSubmitData)="onSubmit($event)">
            </app-user-setup-form>
        </div>
    
        <div class="card p-5">
            <app-user-setup-form
                [header]="reportHeader"
                [actions]="setupActions"
                [editPermission]="editPermission"
                [form]="reportForm"
                [formData]="reportSetup"
                [formInitialData]="initialReportValues"
                (formSubmitData)="onSubmit($event)">
            </app-user-setup-form>
        </div>
    </div>
</div>
<ng-template #notAccessible>
    <app-no-access></app-no-access>
</ng-template>