.bg-color {
    background-color: #006A6A;
}

.primary-btn-color {
    background-color: #006A6A;
    color: #E9F7F7;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}
.primary-btn-color:hover {
    background-color: #E9F7F7;
    border-color: #006A6A;
    border-width: 1px;
    color: #006A6A;
    transition: 0.2s ease-in-out;
}
.primary-btn-color[disabled]:hover {
    background-color: #006A6A;
    color: #E9F7F7;
    font-weight: 500;
}

.secondary-btn-color {
    background-color: #F8F8F8;
    color: #161616;
    font-weight: 500;
}

.text-h-1 {
    color: #FFFFFF;
}
.text-h-2 {
    color: #E1E1E1;
}
.text-n {
    color: #797979;
}

.card-color {
    background-color: #161616;
}
/* .icon-color {
    color: #8D8D8D;
} */

.form-controller {
    background-color: #000000;
    color: #f5f5f5;
    padding: 0 10px;
}

.mat-mdc-snack-bar-container {
    &.success-notification {
        --mdc-snackbar-container-color: #161616;
        --mat-mdc-snack-bar-button-color: #22bb33;
        --mdc-snackbar-supporting-text-color: #22bb33;
    }
}
.mat-mdc-snack-bar-container {
    &.error-notification {
        --mdc-snackbar-container-color: #161616;
        --mat-mdc-snack-bar-button-color: #ff3333;
        --mdc-snackbar-supporting-text-color: #ff3333;
    }
}

.main-background {
    background-color: #020202;
    color: #C0BFC4;
    font-family: Arial, sans-serif;
}

.header {
    color: #1DC1A8;
}

.navbar {
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    color: #79787D;
}
.secondary-navbar {
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    color: #cccccc;
}

.sidebar {
    color: #cccccc;
}
.sidebar-bg {
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    border-right: 1px solid rgb(255, 155, 155, 0.16);
}

.sidebar-link {
    color: #cccccc;
}
.sidebar-link:hover {
    color: #f5f5f5;
    transition: 0.2s ease-in-out;
}

.card {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.055),
        rgba(255, 255, 255, 0.055)
    );
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgb(255, 155, 155, 0.16);
    border-radius: 5px;
}
.card-header {
    color: whitesmoke;
}

.button {
    background-color: #1d1d1d;
    border-color: #1f1f1f;
    box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.36);
    color: #cccccc;
    transition: 0.2s;
}
.button:hover {
    background-color: #222222;
    border-color: #1a1a1a;
    transition: 0.2s ease-in-out;
}

.disabled-button:hover {
    background-color: #272727;
    border-color: #151515;
    color: #A0A0A0;
}
.active-button {
    color: #058169;
    border: 1px solid #058169;
}

.delete-button {
    background-color: #720808;
    border-color: #5B0A09;
    box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.36);
    color: #cccccc;
    transition: 0.2s;
}
.delete-button:hover {
    background-color: #500A0A;
    border-color: #340A0B;
    transition: 0.2s ease-in-out;
}

.icon-color {
    color: #A0A0A0;
}
.icon-color:hover {
    color: #8d8d8d;
}
.active-icon-color {
    color: #1DC1A8;
}

.form-field {
    background-color: rgba(10, 10, 10, 0.5);
    color: #cccccc;
}

.line {
    border-color: #272727;
}

.popup-container {
    background-color: #1b1b1b;
    color: whitesmoke;
}
::ng-deep .popup-container {
    background-color: transparent !important;
}
.popup-button {
    background-color: #0a0a0a80;
    border-color: #0a0a0a;
    box-shadow: 0 8px 32px 0 #0a0a0a80;
    color: #cccccc;
    transition: 0.2s;
}
.popup-button:hover {
    background-color: #0e0e0e;
    border-color: #0f0f0f;
    transition: 0.2s ease-in-out;
}