.bg-color {
    background-color: #006A6A;
}

.primary-btn-color {
    background-color: #006A6A;
    color: #E9F7F7;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}
.primary-btn-color:hover {
    background-color: #E9F7F7;
    border-color: #006A6A;
    border-width: 1px;
    color: #006A6A;
    transition: 0.2s ease-in-out;
}
.primary-btn-color[disabled]:hover {
    background-color: #006A6A;
    color: #E9F7F7;
    font-weight: 500;
}

.secondary-btn-color {
    background-color: #F8F8F8;
    color: #161616;
    font-weight: 500;
}

.text-h-1 {
    color: #FFFFFF;
}
.text-h-2 {
    color: #E1E1E1;
}
.text-n {
    color: #797979;
}

.card-color {
    background-color: #161616;
}
/* .icon-color {
    color: #8D8D8D;
} */

.form-controller {
    background-color: #000000;
    color: #f5f5f5;
    padding: 0 10px;
}

.mat-mdc-snack-bar-container {
    &.success-notification {
        --mdc-snackbar-container-color: #161616;
        --mat-mdc-snack-bar-button-color: #22bb33;
        --mdc-snackbar-supporting-text-color: #22bb33;
    }
}
.mat-mdc-snack-bar-container {
    &.error-notification {
        --mdc-snackbar-container-color: #161616;
        --mat-mdc-snack-bar-button-color: #ff3333;
        --mdc-snackbar-supporting-text-color: #ff3333;
    }
}

.main-background {
    background-color: #020202;
    color: #C0BFC4;
    font-family: Arial, sans-serif;
}

.header {
    color: #1DC1A8;
}

.sidebar {
    background-color: #111111;
    color: #79787D;
}
.navbar {
    background-color: #0e0e0e;
    color: #79787D;
}
.sidebar-link {
    color: #b4b4b4;
}
.sidebar-link:hover {
    color: #919191;
    transition: 0.2s ease-in-out;
}

.sec-navbar {
    background-color: #0a0a0a;
    color: #79787D;
}

.card {
    background-color: #232227;
    color: #79787D;
    border-color: #212123;
}
.card-header {
    color: #EEEEF0;
}

.button {
    background-color: #272727;
    border-color: #151515;
    color: #A0A0A0;
}
.button:hover {
    background-color: #222222;
    border-color: #1a1a1a;
    transition: 0.2s ease-in-out;
}
.active-button {
    border-color: #1DC1A8;
    color: #1DC1A8;
}

.icon-color {
    color: #A0A0A0;
}
.icon-color:hover {
    color: #8d8d8d;
}
.active-icon-color {
    color: #1DC1A8;
}