.main-background {
    background-color: #1A1A1A;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
}

.header {
    color: #bb0000;
}

.sidebar {
    background-color: #1A1A1A;
    color: #E0E0E0;
}

/* .sidebar .active {
    background-color: #333333;
    color: #FF4C4C;
} */

.navbar {
    background-color: #1A1A1A;
    color: #E0E0E0;
}

.navbar a {
    color: #E0E0E0;
}

/* .navbar a:hover, .navbar a.active {
    background-color: #333333;
    color: #FF4C4C;
} */

.main-content {
    background-color: #1A1A1A;
    color: #E0E0E0;
}

.card {
    background-color: #333333;
    color: #E0E0E0;
    border: 1px solid #444444;
}




/* TODO - Final */
.header {
    color: whitesmoke;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.45);
    color: #79787D;
}
.secondary-navbar {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.45);
    color: #cccccc;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.45);
    color: #cccccc;
}
.sidebar-bg {
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    border-right: 1px solid rgb(255, 155, 155, 0.45);
}