.text-type {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    color: #0c0c0c;
}

.line {
    border-color: #a7a7a7;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.45);
    color: #3d3d3d;
}
.secondary-navbar {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.45);
    color: #1c1c1c;
}
.profile-img {
    border: 1px solid #1A1F24;
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.45);
    color: #1c1c1c;
}
.sidebar-dash {
    border: 1px solid #a7a7a7;
}
.sidebar-bg {
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    border-right: 1px solid rgba(162, 241, 255, 0.45);
}

.sidebar-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #242424;
    transition: 0.4s ease;
}
.sidebar-btn:not(:active):hover, .sidebar-btn:focus {
    background-color: #e4e4e4;
}
.sidebar-btn:focus, .sidebar-btn:active {
    background-color: #e0e0e0;
    outline: none;
}
.sidebar-active-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #242424;
    font-weight: 500;
    background-color: #dbdbdb;
    transition: 0.4s ease;
    border-right: 7px solid #1567ff;
}
.sidebar-divider {
    border-color: #1c1c1c;
}
.sidebar-header {
    color: #1c1c1c;
}
.sidebar-link {
    color: #242424;
    transition: 0.4s ease;
}
.sidebar-link:hover {
    color: #1c1c1c;
    transition: 0.4s ease-in-out;
}

/* Buttons */
.primary-btn {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: hsla(219 78% 61% / 1);
    --btn-bg-2: hsla(207 44% 49% / 1);
    position: relative;
    transition: 0.8s ease;
    background-size: 280% auto;
    border: 1px solid var(--btn-bg-1);
    color: whitesmoke;
    background: #1567ff;
    box-shadow: inset -5px -5px 10px #1258d9, inset 5px 5px 10px #1876ff;
    transition: 0.5s ease-in-out;
}
.primary-btn:hover {
    background: linear-gradient(315deg, #4E85EA, #1567ff);
    box-shadow:  -1px -1px 2px #1258d9, 1px 1px 2px #1876ff;
    transition: 0.8s ease-in-out;
}

.secondary-btn {
    --color: #0059ff;
    --hover-color: #1567ff;
    font-family: inherit;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    color: var(--color);
    border: 1px solid var(--color);
    position: relative;
    transition: 0.5s ease-in-out;
}
.secondary-btn:hover {
    background: linear-gradient(315deg, #4E85EA, #1567ff);
    box-shadow:  -1px -1px 5px #1258d9, 1px 1px 2px #1876ff;
    border: 1px solid #1876ff;
    transition: 0.8s ease-in-out;
    color: whitesmoke;
}
.secondary-btn::before {
    position: absolute;
    content: "";
    background: var(--hover-color);
    height: 150px;
    width: 200px;
    z-index: -1;
    border-radius: 50%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0) 70%
    );
    animation: shine 3s infinite linear;
}
.secondary-btn:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}
.secondary-btn:hover::before {
    top: -30px;
    left: -30px;
}

.disabled-btn {
    border: 1px solid #202020;
    color: #202020;
    transition: 0.3s ease;
}

.delete-button {
    border-color: #5B0A09;
    color: whitesmoke;
    transition: 0.5s ease-in-out;
    background: #720808;
    box-shadow: inset -5px -5px 10px #610707, inset 5px 5px 10px #830909;
}
.delete-button:hover {
    background: linear-gradient(315deg, #7a0909, #670707);
    box-shadow:  -1px -1px 2px #610707, 1px 1px 2px #830909;
}
.delete-btn-outline {
    --color: red;
    --hover-color: #720808;
    font-family: inherit;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    color: var(--color);
    border: 1px solid var(--color);
    position: relative;
    transition: 0.5s ease-in-out;
}
.delete-btn-outline:hover {
    background: linear-gradient(315deg, #670707, #7a0909);
    box-shadow:  -1px -1px 5px #610707, 1px 1px 5px #830909;
    border: 1px solid #5B0A09;
    transition: 0.8s ease-in-out;
    color: whitesmoke;
}
.delete-btn-outline::before {
    position: absolute;
    content: "";
    background: var(--hover-color);
    height: 150px;
    width: 200px;
    z-index: -1;
    border-radius: 50%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0) 70%
    );
    animation: shine 3s infinite linear;
}
.delete-btn-outline:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}
.delete-btn-outline:hover::before {
    top: -30px;
    left: -30px;
}

.primary-btn-icon {
    color: whitesmoke;
}

/* Card */
.card {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(155, 232, 255, 0.1);
    border-radius: 5px;
}
.card-header {
    color: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;
}

.form-field {
    background-color: rgba(210, 210, 210, 0.5);
    color: #1c1c1c;
}
.dropdown-field {
    background-color: #e6e6e6;
}
.dropdown-selected:hover {
    transition: 200ms ease-in-out;
    background-color: #d2d2d2;
}

/* Toggle Button */
.toggle-btn .slider {
    width: 50px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 3px solid transparent;
    transition: .3s;
    cursor: pointer;
    background-color: lightgray;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
}
.toggle-btn .slider::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    transform: translateX(-30px);
    border-radius: 10px;
    transition: .3s;
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
    background-color: whitesmoke;
}
.checkbox:checked ~ .slider::before {
    transform: translateX(30px);
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}
.checkbox:checked ~ .slider {
    background-color: #1567ff;
}
.checkbox:active ~ .slider::before {
    transform: translate(0);
}

/* Texts */
.text-heading-2 {
    color: #181818;
}
.text-2 {
    color: #202020;
}
.text-3 {
    color: #1567ff;
}
.icon-color {
    background-color: #242424;
    fill: #242424;
}

.notification-popup-bg {
    background-color: #ffffff;
}
.notification-error-icon-bg {
    background-color: #ffffff0d;
}
.notification-success-icon-bg {
    background-color: #dcfce7;
}
.notification-btn {
    color: #2b2b2b;
}
.notification-btn:hover {
    background-color: #e0e0e01a;
    color: #2b2b2b;
}
.notification-msg {
    color: #2b2b2b;
}

.loader {
    border-right-color: #052137;
}

.active-icon {
    color: #313131;
}
.inactive-icon {
    color: #242424;
}
.inactive-icon:hover {
    color: #313131;
    transition: 0.2s ease-in-out;
}

.user-popup {
    background-color: rgba(223, 223, 223, 0.15);
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(155, 155, 155, 0.45);
    color: #202020;
}

.bank-card {
    border: 1px;
    background: linear-gradient(#2c2c2c, #0F0F0F);
    box-shadow: 5px 5px 20px #101010;
    transition: 0.3s ease-in-out;
}
.bank-card:hover {
    box-shadow: 8px 8px 20px #101010, -8px -8px 20px #101010;
    transition: 0.3s ease-in-out;
}

/* Media query */
@media (prefers-reduced-motion: reduce) {
    .btn-donate {
        transition: linear;
    }
}

@keyframes shine {
    0% {left: -100px}
    20% {left: 100%}
    100% {left: 100%}
}
